
h1 {
    font-weight: 500;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
  }
  
  .main-content {
    padding: 20px;
    background-color: var(--background-color);
    margin-left: 5.5rem;
    margin-top: 1rem;
    animation: slide-up-fade-in 2s ease-in-out;
  }

  @keyframes slide-up-fade-in {
    0% {
      opacity: 0;
      transform: translateY(80px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }
  

  .dark-theme .main-content {
    background-color: #fff; 
    color: #333; 
  }

.about-content {
    border-radius: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    width: 13rem;

    &:hover {
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    }
}

.hero {
    text-align: center;
    margin-bottom: 20px;
}

.about-resume {
    margin-top: 20px;
}


button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    color: #fefefe;
    cursor: pointer;
    transition: border-color 0.25s;
    width: 14rem;
}

.custom-button svg {
    line-height: 1.5rem;
}

.custom-button svg,
.custom-button .button-text {
    vertical-align: middle; 
    padding: 0.25rem; 
}

/* Media query for larger screens */
@media (min-width: 768px) {
    .main-content {
        margin-left: 15rem;
        animation: slide-up-fade-in 2s ease-in-out;
    }

    @keyframes slide-up-fade-in {
        0% {
          opacity: 0;
          transform: translateY(80px);
        }
        100% {
          opacity: 1;
          transform: translateY(0px);
        }
      }

    .about-resume {
        margin-top: 0;
        margin-left: 20px; 
    }

    .about-content {
        border-radius: 1rem;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        padding: 2rem;
        width: 50rem;
    
        &:hover {
            box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); 
        }
    }
}
