h1 {
    display: flex;
    justify-content: center;
    padding: 20px;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: var(--background-color);
    margin-left: 6rem;
    color: var(--text-color);
    margin-top: 3rem;
    font-weight: 500;
}

.dark-theme .projects-container {
    background-color: #fff; 
    color: #333; 
}

.projects-container {
    background-color: var(--background-color);
    color: var(--text-color);
}