.contact-container {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #fff;
    margin-left: 6rem;
}

.contact-form {
    display: flex;
    flex-direction: column;
    width: 55%;
    margin-bottom: 150px;
}

.contact-form mat-form-field{
    display: flex;
    flex-direction: column;
}

h3 {
    margin-bottom: 0.5rem; 
}

.contact-h-tags {
    margin-bottom: 1rem;
}

.spinner {
    margin-left: 25rem;
}

button {
    border-radius: 0.25rem;
    border: 1px solid transparent;
    padding: 0.25rem 1rem;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    color: #fefefe;
    cursor: pointer;
    transition: border-color 0.25s;
    text-align: left;
}
