<div class="contact-container">
  <div class="contact-form">
    <div class="contact-h-tags">
      <h1>Get In Touch</h1>
    <h3>I'm currently looking for any new opportunities.</h3>
    <h3>Whether you have a question or just want to say hi, I will get back to you! 😸</h3>
    </div>
    <form (ngSubmit)="onSubmit(form, $event)" #form="ngForm">
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput type="text" [(ngModel)]="name" name="name" required />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput type="email" [(ngModel)]="email" name="email" required />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Message</mat-label>
        <textarea matInput [(ngModel)]="message" name="message" required></textarea>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Say Hello</button>
    </form>
    <div *ngIf="loading" class="spinner"> 
      <mat-spinner></mat-spinner>
    </div>
  </div>
</div>

