  /* Add dark-theme class for dark theme */
.dark-theme .all-projects {
    background-color: #fff; /* Override with specific background color if needed */
    color: #333; /* Override with specific text color if needed */
}

.all-projects {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: var(--background-color);
    margin-left: 7rem;
}

.specific-project {
    border-radius: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    width: 20rem;
}

.dark-theme .specific-project {
    border-radius: 1rem;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.2);
    padding: 2rem;
    width: 20rem;
}

.project-stack {
color: #f0b26f;
font-weight: 800;
}

.image {
    height: 10rem;
    width: auto;
    margin-top: 5px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.project-image img {
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.project-image img:hover {
    opacity: .5;
}

.custom-button {
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
}

.custom-button svg,
.custom-button .button-text {
    vertical-align: middle; 
    padding: 0.25rem; 
}

@media (min-width: 768px) {
    .all-projects {
        display: flex;
        justify-content: center;
        padding: 20px;
        background-color: var(--background-color);
        margin-left: 8rem;
    }

    .dark-theme .all-projects {
        background-color: #fff; /* Override with specific background color if needed */
        color: #333; /* Override with specific text color if needed */
    }

    .specific-project {
        border-radius: 1rem;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        padding: 2rem;
        width: 50rem;
        transition: box-shadow 0.3s ease;

        &:hover {
            box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); /* Adjusted box-shadow on hover */
        }
    }

    .dark-theme .specific-project {
        border-radius: 1rem;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        padding: 2rem;
        width: 50rem;

        &:hover {
            box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); /* Adjusted box-shadow on hover */
        }
    }

    .image {
        height: 25rem;
        width: auto;
        margin-top: 5px;
        margin-bottom: 20px;
        border-radius: 10px;
    }
} 

