h3 {
    font-weight: 500;
}

.dark-theme .all-projects {
    background-color: #fff;
    color: #333; 
}

.all-projects {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: var(--background-color);
    margin-left: 6.5rem;
}

.specific-project {
    border-radius: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: .5px solid #444444;
    padding: 2rem;
    width: 12rem;
    
    &:hover {
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); 
    }
}

.dark-theme .specific-project {
    border-radius: 1rem;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.2);
    border: .5px solid #444444;
    padding: 2rem;
    width: 20rem;

    &:hover {
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); 
    }
}

.project-stack {
font-weight: 500;
color: rgb(255, 64, 129);
margin-bottom: 1rem;
}

.image {
    height: 10rem;
    width: 13rem;
    margin-top: 5px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.project-image img {
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.project-image img:hover {
    opacity: .5;
}

.custom-button {
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
}

.custom-button svg,
.custom-button .button-text {
    vertical-align: middle; 
    padding: 0.25rem; 
}

.demo-button {
    margin-left: 1rem;
}

/* Media query for larger screens */
@media (min-width: 768px) {
    .all-projects {
        display: flex;
        justify-content: center;
        padding: 20px;
        background-color: var(--background-color);
        margin-left: 8rem;
    }

    .dark-theme .all-projects {
        background-color: #fff; 
        color: #333; 
    }

    .specific-project {
        border-radius: 1rem;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        border: .5px solid #444444;
        padding: 2rem;
        width: 50rem;
        transition: box-shadow 0.3s ease;

        &:hover {
            box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); 
        }
    }

    .dark-theme .specific-project {
        border-radius: 1rem;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        border: .5px solid #444444;
        padding: 2rem;
        width: 50rem;

        &:hover {
            box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); 
        }
    }

    .image {
        height: 25rem;
        width: 50rem;
        margin-top: 5px;
        margin-bottom: 20px;
        border-radius: 10px;
    }
} 

