<div class="testimonial-carousel">
    <div class="testimonial-card">
        <h3>Danielle Heberling</h3>
        <p>Software Engineer | AWS Serverless Hero</p>
        <blockquote>"I would highly recommend Ismarji. During the project she was highly collaborative and respectful of her colleagues, she asked great questions, and did a great job getting more experience with JavaScript. Her curiosity and willingness to learn new things will bring her far and she would be a positive addition to any team."</blockquote>
        <a href="https://www.linkedin.com/in/deeheber/" target="_blank">
            <img class="testimonial-photo" src="../../assets/dh.jpeg" alt="Danielle Heberling">
        </a>
    </div>
    <div class="testimonial-card">
        <h3>Satoshi Shirosaka</h3>
        <p>Fullstack Developer</p>
        <blockquote>"I highly recommend Ismarji for any software development team. I had the privilege of working closely with her on The Collab Lab project. Ismarji is an outstanding team player, problem solver, and a dedicated learner. Throughout the project, she consistently sought ways to enhance our code quality and suggested new ideas for our application. She also proactively expanded her tech stack beside the project. She never misses any learning opportunities to grow as a developer."</blockquote>
        <a href="https://www.linkedin.com/in/satoshi-89bb58a8/" target="_blank">
            <img class="testimonial-photo" src="../../assets/ss.jpeg" alt="Satoshi Shirosaka">
        </a>
    </div>
    <div class="testimonial-card">
        <h3>Christina Woodhams</h3>
        <p>Fullstack Developer</p>
        <blockquote>"I wholeheartedly recommend Ismarji for any collaborative software development project. Partnering with her in pair programming sessions was a pleasure because she consistently demonstrated a remarkable level of preparation and determination. Ismarji's relentless commitment to solving problems, especially when tackling complex tasks like learning Firebase, was truly impressive. Her proactive approach and dedication to finding solutions make her an invaluable team member, and I have no doubt that she will continue to excel in her software development endeavors."</blockquote>
        <a href="https://www.linkedin.com/in/christina-woodhams/" target="_blank">
            <img class="testimonial-photo" src="../../assets/cw.jpeg" alt="Christina Woodhams"> 
        </a>
    </div>
    <div class="testimonial-card">
        <h3>Ani Bdoian</h3>
        <p>Fullstack Developer</p>
        <blockquote>"Ismarji was an exceptional team player during our time together at Hackbright Academy. She consistently went above and beyond to support her classmates and contributed significantly to the success of our cohort. Her ability to collaborate effectively and her strong problem-solving skills were invaluable to our projects. I am confident that Ismarji will excel in any professional setting and would highly recommend her to any organization seeking a skilled and dedicated team member."</blockquote>
        <a href="https://www.linkedin.com/in/ani-bdoian/" target="_blank">
            <img class="testimonial-photo" src="../../assets/ab.jpeg" alt="Ani Bdoian"> 
        </a>
    </div>
</div>
