/* Common styles */
:root {
    --background-color: #ffffff;
    --text-color: #333;
  }
  
  /* Dark Theme Styles */
  .dark-theme {
    --background-color: #121212;
    --text-color: #ffffff;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
  }
  
