body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
  }
  
  .main-content {
    padding: 20px;
    background-color: var(--background-color);
    margin-left: 6rem;
  }
  
  /* Add dark-theme class for dark theme */
  .dark-theme .main-content {
    background-color: #fff; /* Override with specific background color if needed */
    color: #333; /* Override with specific text color if needed */
  }

.hero {
    text-align: center;
    margin-bottom: 20px;
}

.name {
    color: #007bff; /* Primary color */
}

.job-title {
    color: #28a745; /* Success color */
}

/* Social icons */
.social-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.social-icons {
    padding: 0;
    margin: 0;
}

.social-icons ul {
    list-style: none; 
    display: flex; 
    margin-right: 2.75rem;
}

.social-icons li {
    margin-left: 1rem;
}

.social-icon {
    width: 40px;
    height: 40px;
}

.github-photo-container, .github-bio-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-left: 0.25rem;
    padding-bottom: 1rem;
}

.github-photo > img {
    /* margin-left: 46.5rem; */
    border-radius: 50%;
    height: 10rem;
}

/* Button styles */
button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    color: #fefefe;
    cursor: pointer;
    transition: border-color 0.25s;
}

/* Media query for larger screens */
@media (min-width: 768px) {
    .main-content {
        margin-left: 2rem;
    }
}
