body {
    background-color: var(--background-color);
    color: var(--text-color);
  }
  
  .main-content {
    padding: 20px;
    background-color: var(--background-color);
    margin-left: 6rem;
    margin-top: 2rem;
  }
  

  .dark-theme .main-content {
    background-color: #fff;
    color: #333; 
  }

.hero {
    text-align: center;
    margin-bottom: 20px;
}

.intro {
    font-size: 1rem;
}

.name {
    color: rgb(255, 64, 129);
    font-size: 2.5rem;
}

.job-title {
    color: var(--job-color);
    font-size: 1.5rem;
}

.social-container {
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-right: 1rem;
}

.dark-theme .github-svg,
.dark-theme .linkedin-svg {
    fill: var(--fill-color);
}

.github-svg, .linkedin-svg {
    fill: var(--fill-color);
}

.social-icons {
    padding: 0;
    margin: 0;
}

.social-icons ul {
    list-style: none; 
    display: flex; 
    margin-right: 2.75rem;
}

.social-icons li {
    margin-left: 1rem;
}

.social-icon {
    width: 40px;
    height: 40px;
}

.github-photo-container, .github-bio-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-left: 0.25rem;
    padding-bottom: 1rem;
}

.github-bio-container {
    margin-top: 1rem;
    font-size: 0.5rem;
}

.github-photo {
    padding-top: 1rem;
}

.github-photo img {
    border-radius: 50%;
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    animation: glowing 3s infinite;
  }
  
  @keyframes glowing {
    0% {
      box-shadow: 0 0 0 0 rgba(255, 64, 129, 0.7);
    }
    50% {
      box-shadow: 0 0 15px 10px rgba(255, 64, 129, 0.5);
    }
    100% {
      box-shadow: 0 0 0 0 rgba(255, 64, 129, 0.7);
    }
  }


button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    color: #fefefe;
    cursor: pointer;
    transition: border-color 0.25s;
}

/* Media query for larger screens */
@media (min-width: 768px) {
    .main-content {
        margin-left: 2rem;
    }

    .hero, .github-photo-container, .github-bio-container {
        margin-left: 4rem;
    }

    .social-container {
        margin-left: 4.25rem;
    }

    .dark-theme .github-svg,
    .dark-theme .linkedin-svg {
        fill: var(--fill-color);
    }

    .github-svg, .linkedin-svg {
        fill: var(--fill-color);
    }

    .intro {
        font-size: 1rem;
    }
    
    .name {
        color: rgb(255, 64, 129);
        font-size: 3rem;
    }
    
    .job-title {
        color: var(--job-color);
        font-size: 2rem;
    }
}
