<div [ngClass]="{ 'light-theme': !isDarkMode, 'dark-theme': isDarkMode }">
  <div class="main-content">
    <section class="hero">
      <h3 class="intro">Hi, my name is</h3>
      <h1 class="name">Ismarji Workman.</h1>
      <h2 class="job-title">Software Engineer</h2>
    </section>

    <div class="github-photo-container">
      <div class="github-photo" *ngIf="avatarUrl">
        <img [src]="avatarUrl" alt="Profile Picture" />
      </div>
    </div>
    <div class="github-bio-container">
      <div *ngIf="bio">
        <p>{{ bio }}</p>
      </div>
    </div>

    <div class="social-container">
      <section class="social-icons">
        <ul>
          <li>
            <a href="https://github.com/ismarjiw" target="_blank"
              ><img
                class="social-icon"
                src="/assets/githubLogo.png"
                alt="GitHub"
            /></a>
          </li>
          <li>
            <a
              href="https://www.linkedin.com/in/ismarjiworkman/"
              target="_blank"
              ><img
                class="social-icon"
                src="/assets/linkedInLogo.png"
                alt="LinkedIn"
            /></a>
          </li>
        </ul>
      </section>
      <mat-slide-toggle (change)="toggleDarkMode()">
        Slide me!
      </mat-slide-toggle>
    </div>
  </div>
</div>
