// Import the light theme
@import '@angular/material/prebuilt-themes/indigo-pink.css';

// Import the dark theme
@import '@angular/material/prebuilt-themes/pink-bluegrey.css';

// Import the component-specific styles
@import 'home.component.css';

// Light theme styles
.light-theme {
    /* Define your light theme styles here */
    background: #f5f5f5;
    color: #333;
  }
  
  // Dark theme styles
  .dark-theme {
    /* Define your dark theme styles here */
    background: #333;
    color: #f5f5f5;
  }
  
